{
    "configurations": [
        {
            "includePath": [
                "${workspaceFolder}/**",
                "{{eagleeye}}",
                "{{eagleeye}}/eagleeye/"
            ]
        }
    ],
    "version": 4
}