{
    "configurations": [
        {
            "includePath": [
                "${workspaceFolder}/**",
                "{{eagleeye}}/install",
                "{{eagleeye}}/install/eagleeye/"
            ]
        }
    ],
    "version": 4
}